@use "global" as *;

.card {
	width: 100%;
  box-shadow: 0 0 6px 0 rgba(27, 19, 16, 0.4);
}
.card__image {
  width: 100%;
  aspect-ratio: 320/200;
  object-fit: cover;
}

.card__description {
  padding-top: rem(22);
  padding-inline: rem(32);
  padding-bottom: rem(27);

  font-size: rem(13);
  font-family: $second-font-family;
  font-weight: 700;
  line-height: calc(25/13);
  letter-spacing: 0.05em;
}
