@use "global"as *;

.news {}

.news--layout {
  margin-top: rem(156);

  @include mq(md) {
    margin-top: rem(160);

  }
}

.news__inner {

}

.news__heading.section-heading {
  letter-spacing: 0.1em;
}

.news__title {}

.news__list {
  display: grid;
  gap: rem(50);
  grid-template-columns: repeat(1, 1fr); // 1列レイアウト

  margin-top: rem(72);
  padding-left: rem(13);
  padding-right: rem(12);

  @include mq(md) {
    gap: rem(35);
    grid-template-columns: repeat(3, 1fr); // 3列レイアウト
    max-width: 1030px;
		padding: 0;
  }
}

.news__item {

}
