@use "global"as *;

.service {}

.service--layout {
  margin-top: rem(158);

  @include mq(md) {
    margin-top: rem(166);
  }
}

.service__inner {}

.service__heading {
  padding-right: rem(20);

  @include mq(md) {
    padding-right: 0;

  }
}


.service__list {
  margin-top: rem(70);
  display: flex;
  gap: rem(44);
  flex-direction: column;

  @include mq(md) {
    margin-top: rem(74);
    gap: rem(48);

  }
}

.service__item {

  }



